.container-error {
    width          : 100%;
    height         : 100vh;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    color          : #fff;
}

.container-error img {
    width: 404px;
}

.container-error a {
    text-decoration : none;
    color           : #000000;
    font-weight     : bold;
    background-color: rgb(255, 238, 0);
    height          : 30px;
    text-align      : center;
    display         : flex;
    align-items     : center;
    padding         : 10px;
    border-radius   : 4px;
    margin-top      : 5px;
}

.container-error a:hover {
    background-color: rgb(255, 187, 0);
}